{% extends 'base.html.twig' %}

{% block title %}New ActiveMessage{% endblock %}

{% block body %}
    <h1>Create new ActiveMessage</h1>

    {{ include('active_message/_form.html.twig') }}

    <a href="{{ path('active_message_index') }}">back to list</a>
{% endblock %}
